

.hero-image {
        background-image: url(Heavens_Gate_and_The_Pink_Panther.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}

.hero-text {
        font-family: "Outfit", sans-serif;
        color: rgb(244, 234, 255);
        text-align: center;
        padding: 10px;
}